services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Pipe1998
      POSTGRES_DB: crminmob
    volumes:
      - pgdata:/var/lib/postgresql/data

  node-app:
    build: .
    restart: always
    env_file:
      - .env
    environment:
      NODE_ENV: production
    depends_on:
      - db
    ports:
      - "3000:3000"
    command: node dist/index.js

volumes:
  pgdata:
